<div id="loading">
  <p>Loading galactic map...</p>
  <div class="throbber" *ngIf="!loaded"></div>
  <img src="/assets/andromeda.jpg" (load)="loaded = true" alt="" aria-hidden="true">
</div>
<ng-container *ngIf="loaded">
  <div id="andromeda" (click)="showFilter = false">
    <div
      *ngFor="let p of glowPoints"
      class="glowPoint"
      [style.left.vw]="(p.x - p.r) * 100"
      [style.top.vh]="(p.y - p.r) * 100"
      [style.width.vw]="p.r * 2 * 100"
      [style.height.vh]="p.r * 2 * 100"
    ></div>
    <div class="stars" id="stars0"></div>
    <div class="stars" id="stars1"></div>
    <div class="stars" id="stars2"></div>
    <button
      *ngFor="let l of visibleLinks; let i = index"
      class="link"
      [class.flickerIn]="useLinkFlickerIn"
      [class.highlighted]="l.matches > 0"
      [style.left.%]="l.link.x * 100"
      [style.top.%]="l.link.y * 100"
      (click)="doShowLink(l.link)"
      [style.animation-delay.s]="-1 + i / 5"
    ><span *ngIf="l.matches > 0" class="matches">{{ l.matches }}</span></button>
  </div>
  <div id="filter" class="flickerIn" [style.animation-delay.s]="-1.2">
    <button (click)="showFilter = !showFilter">Search...</button>
    <div id="filter-panel" *ngIf="showFilter">
      <label *ngFor="let t of allTags">
        <input type="checkbox" [checked]="selectedTags.indexOf(t) !== -1" (click)="doToggleTag(t)"> {{ t }}
      </label>
    </div>
  </div>
  <div id="cover" *ngIf="activeLink" (click)="doCloseInfo()">
    <div id="expandingBox" class="go" [style.left.vw]="activeLink.x * 100" [style.top.vh]="activeLink.y * 100" [style.width.in]="0.2" [style.height.in]="0.2"></div>
  </div>
  <div id="info" *ngIf="activeLink">
    <button (click)="doCloseInfo()" class="close">&times;</button>
    <h2>{{ activeLink.title }}</h2>
    <img [src]="'/assets/image/' + activeLink.image" alt="preview image">
    <p>{{ activeLink.description }}</p>
    <p><a [href]="activeLink.url">{{ activeLink.urlText }}</a></p>
  </div>
</ng-container>
